---
---

@import "reset";
@import "main";

.default_title {
	background: #808080;
}
.post_title {
	background: #00007f;
}

code {
	font-family: monospace;
	background-color: #e5e8ea;
	padding: 0 .15em;
}
